body{
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
}
h1{
    font-size: 45px;
    font-weight: 900;
}
.first-section{
    color:white;
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 150px;
}
.link-button{
    padding: 10px 25px;
    background-image: linear-gradient(rgb(251, 73, 73),rgba(238, 82, 51, 0.982));
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
#first-button{
    display: inline-block;
}

