body{
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
}
h1{
    font-size: 45px;
    font-weight: bolder;
}
h2{
    font-size: 35px;
    font-weight: bolder;
}
h3{
    font-size: 30px;
    color: grey;
}
h4{
    font-size: 28px;
}
.first-section{
    color:white;
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 150px;
    margin-bottom: 7%;
}
.link-button{
    padding: 10px 25px;
    background-image: linear-gradient(rgb(251, 73, 73),rgba(238, 82, 51, 0.982));
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}
.second-section{
    text-align: center;
    margin-bottom: 7%;
}
.flexival-container-one{
    display: flex;
}
.second-section-box-style-one{
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px; 
    border-radius: 10px;
    box-shadow: 5px;
    background-color: rgb(244, 241, 241);
    margin: 0.5%;
}
#second-section-box-style-two{
    border: 1px solid rgb(245, 64, 64);
}
